
html, body {
	background-color: #F5F5F5;
  	text-align: center;
	font-size: medium;
	font-family: Trebuchet MS, sans-serif;
	margin: 0;
	
}

p{
	padding: 5px;
}



/*DEBUT MENU DEBUT MENU DEBUT MENU DEBUT MENU DEBUT MENU DEBUT MENU DEBUT MENU */
header{
	width: 100%;
	position: fixed;
}
header ul{
	height: 10%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #64a4ed;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	min-height: 75px;
}

header li{
	display: inline-block;
	width: 11%;
	vertical-align: middle;
	margin: 0;
}

header li a{
	text-decoration: none;
	color:white;
}
#logo {
    width: 5em;
}
#login{
	border-radius: 20% / 50% ;
	border-color: transparent;
	border-style:groove;
	background-color: orange;
	border-width: 10px;
	font-weight: bold;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-flex;
}

#login:hover{
	background-color: rgb(218, 150, 24);
	transition:.7s;
	transform: scale(1.1);
}
/*FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU */

/*---------------------------------------------------------------------------------*/

/* DEBUT FOOTER DEBUT FOOTER DEBUT FOOTER DEBUT FOOTER DEBUT FOOTER DEBUT FOOTER */
#footer{

	height: auto;
	width: 100%;
}

#footer li{
	display: inline-block;
	width: 10%;
	vertical-align: middle;
	margin: 0;

}
#footer li a{
	text-decoration: none;
	color:white;
	font-weight: bold;

}
#footer ul{
	height: 15%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow: hidden;
	background-color:  	#787878;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#logoAppli {
    width: 2.5em;
}

/* FIN FOOTER FIN FOOTER FIN FOOTER FIN FOOTER FIN FOOTER FIN FOOTER FIN FOOTER */

/*---------------------------------------------------------------------------------*/




/* apparence produit page accueil*/

.opening{  /*Conteneur*/
	display:flex;
	flex-wrap: wrap;
	background-color: #64a4ed;	
	font-size: 120%;
	padding-bottom: 0;
	overflow: hidden;
	height: 100%;
	align-items: center;
	padding-top: 8.5%;
}

.texteMain{/*ITEM 1*/
	color: white;
	font-family: Georgia;
	flex: 1;
	padding-left: 10%;
	padding-right: 10%;
	object-fit: contain;
	align-items: center;
	margin-bottom: 5%;
	
}
.productImage{  /*ITEM 2*/
	flex:1;
	padding-top: 5%;
	min-width: 400px;
	object-fit: contain;
	align-items: center;

	
}
.productImage img{
	max-width: 100%;
}

.texteMain h4{

	text-align: center;
	color: white;
	font-family: Georgia;
	font-size: 180%;	
}
.texteMain p{
	text-align: justify;
	color: white;
	font-family: Georgia;
	font-size: 120%;
}
#decouvrir{
	text-decoration: none;
	color:white;
	border-radius: 10%;
	padding: 10px;
	font-weight: bold;
	background-color: orange;
}
.capteuratorMain img{
	transition: 1s;
	border-radius: 15%;
}
.capteuratorMain img:hover{
	transform: scale(.8);
	filter:grayscale(100%)	
}


.capteuratorMain{
	padding:5%;
}
.blueBox{
	width: 100%;
	background-color:#A7C8E9;
	margin:0;
	justify-items: center;
	padding-bottom: 5%;
	padding-top: 5%;
}
.blueBox p{
	color:white;
	font-size: x-large;
	font-weight: bold;
}
.santeBox {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	max-width: 500px;
}

.santeBox img {
	width: 100%;
	
	height: auto;
	border-radius: 15%;
	

	
}
  
.santeBox .btn {
	position: absolute;
	top: 80%;
	left: 25%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: white;
	color: black;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 15px;
	text-align: center;
}
  
.santeBox .btn:hover {
	background-color: rgb(218, 150, 24);
	transition: 1s;
	padding: 16px 28px;
	


}

/* Connexion............................................ */
#connexion label {
	display: block;
	margin: .4rem 0;
	font: 1rem 'Fira Sans', sans-serif;
	text-align: center;
	font-size: xx-large;	
}

#connexion input[type='submit'],

#connexion input {
	text-align: left;
	font-size: x-large;
}

#connexion{
	padding-top: 3	0px;
	padding-bottom: 20px;
	height: flex;
	text-align: center;
	background-color: #FFFFFF;
	font-size: xx-large;
}
#connexion ul{
	display: block;
	padding-inline-start: 0px;
	margin-bottom: 40px;
}

#connexion li a{
	text-decoration: none;
	color:white;
	font: 1rem 'Fira Sans', sans-serif;
	font-size: xx-large;
	padding: 5px;
}
/*......................................................*/


/* Inscription............................................ */

p {
	margin-top: 0px;
	font-size: x-large;
  }
   
  fieldset {
	margin-bottom: 15px;
	padding: 10px;
	font-size: xx-large;
  }
   
  legend {
	padding: 0px 3px;
	font-weight: bold;
	font-variant: small-caps;
	font-size: xx-large;
  }
   
  label {
	width: 110px;
	display: inline-flexbox; 
	margin: 6px;
  }
   
  em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
  }
   
  input:focus {
	background: #eaeaea;
  }
   
  input, textarea {
	width: 249px;
	height: 30px;
	font-size: x-large;
	margin: 15px;
  }
   
  textarea {
	height: 100px;
  }
   
  select {
	width: 254px;
  }
   
  input[type=checkbox] {
	width: 10px;
  }
   
  input[type=submit] {
	width: auto;
	height: auto;
	padding: 10px;
  }

/*......................................................*/


/*page profil*/
#texteInfoPageP{
	height: 100%;
	float:left;
	width: 80%;
	text-align: center;
	color: white;
	font-family: Georgia;
	vertical-align: middle;
}
#imageperso img {
	width: 150px;
	margin-top:1px;
	float:left;
	padding-bottom: 100px;
	padding-left: 50;
}

#info {
	border: 1px black solid;
	background-color: white;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 20px;
	border-radius:50px;
	margin-left:150px;
	margin-right:800px;
}
#button {
	background-color: white;
	border: 1px blue solid;
    border-radius:50px;
	padding: 20px 34px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

/*FAQ---------------------------------------------------------------------------------*/



#faq {
    text-align: center;
	color: black; 
	background-color: #F2F2F2;
         }

#titre {
    text-align: center;
	font-size: 60 px ;
	color: #6495ED; 
	font-weight: bold;
	font-size: 325%;
	padding-top: 8.5%;
	padding-bottom: 1%;
	font-family: Arial, sans-serif
}

#question {
    text-align: center;
	color: #FF7F50; 
	font-size: x-large ;
	font-weight: bold;
	padding-top: 2%;
	padding-bottom: 1%;
	font-family: Trebuchet MS, sans-serif;
}

#reponse {
    text-align: center;
	color: #464646; 
	font-size: large ;
	padding-top: 1%;
	padding-bottom: 2%;
	font-weight: bold;
	font-family: Trebuchet MS, sans-serif;
}

/*Professionnel------------------------------------------------------------------------------------*/


.description_produit {
	display: flex;
  	align-items: center;
  	justify-content: center;
	padding-top: 1%;
	padding-bottom: 1%;
	color: #464646; 
}

.image_texte {
	padding-right:4%;
	padding-left: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
	transition-duration: 1.5s;
	transition-timing-function: ease;
}

.image_texte:hover {
	transform: scale(1.2);
}

.texte_image {
	padding-right:4%;
	padding-left: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
 	animation: fadein 2s;
	-moz-animation: fadein 2s; /* Firefox */
	-webkit-animation: fadein 2s; /* Safari et Chrome */
	-o-animation: fadein 2s; /* Opera */
}

.image_texte_capteur {
	padding-right:4%;
	padding-left: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 30%;
	transition-duration: 1.5s;
	transition-timing-function: ease;
}

.image_texte_capteur:hover {
	transform: scale(1.2);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/*Erreur------------------------------------------------------------------------------------*/

#erreure {
        text-align: center;
	font-size: xx-large;
	font-family: Trebuchet MS, sans-serif;

      }

.erreure {
	display: flex;
    flex-direction: column;
  	justify-content: center;
    text-align: center;
	padding-right:2%;
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.erreure_image:hover {
	transform: rotate(18000deg);
	transition-duration: 10s;
	transition-timing-function: linear;
}

#erreure_bouton {
	padding: 10px 30px;
	background: #65A0FF;
	color: #FFFFFF;
	border-radius: 11px;
	text-decoration:none;
	opacity: 1;
}

#erreure_bouton:hover {
	background: #FFFFFF;
	color: #65A0FF;
	border-radius: 11px;
	border: 2px solid #65A0FF;
}

#erreure_bouton:active {
	opacity: .5;
}


/*------------------------------------------------------------------------------------*/

/*testsPatient------------------------------------------------------------------------------------*/

.galerie {
	display: grid;
	background-color: #FEFFFF;
	grid-template-columns: repeat(3,32%);
	grid-gap: 0%;
	margin:0;
	padding: 20px;
	padding-top: 20px;
	height: inherit;
}
	
.galerie img {
	height: 60%;
	width: 50%;
	
	padding: 10%;
}

.image:hover img{
	transition: 1s;
	transform: scale(1.1);
}

/*------------------------------------------------------------------------------------*/

/*page CGU ----------------------------------------------------------------------------*/


#CGU{
	line-height: 180%;
	padding:5px;
	margin:5px;
	font-size: large;

}

/*------------------------------------------------------------------------------------*/