
html{
	overflow-x: hidden;
	background-color: black;
	margin: 0;
	padding:0;
}
body{
	margin: 0;
	padding: 0;
	background-color: white;
}

p{
	padding: 5px;
}


/*DEBUT MENU DEBUT MENU DEBUT MENU DEBUT MENU DEBUT MENU DEBUT MENU DEBUT MENU */
header{
	padding: 0;
	margin: 0;
	height: 10%;
}
header ul{
	height: 10%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #64a4ed;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	min-height: 75px;
}

header li{
	display: inline-block;
	width: 11%;
	vertical-align: middle;
	margin: 0;
}

header li a{
	text-decoration: none;
	color:white;
}
#logo {
    width: 5em;
}
#login{
	border-radius: 20%;
	border-color: transparent;
	border-style:solid;
	background-color: orange;
	border-width: 10px;
	font-weight: bold;
}
/*FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU FIN MENU */

/*---------------------------------------------------------------------------------*/

/* DEBUT FOOTER DEBUT FOOTER DEBUT FOOTER DEBUT FOOTER DEBUT FOOTER DEBUT FOOTER */
#footer{

	height: auto;
	width: 100%;
}

#footer li{
	display: inline-block;
	width: 10%;
	vertical-align: middle;
	margin: 0;

}
#footer li a{
	text-decoration: none;
	color:white;
	font-weight: bold;

}
#footer ul{
	height: 15%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 0;
	overflow: hidden;
	background-color:  	#787878;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#logoAppli {
    width: 2.5em;
}

/* FIN FOOTER FIN FOOTER FIN FOOTER FIN FOOTER FIN FOOTER FIN FOOTER FIN FOOTER */

/*---------------------------------------------------------------------------------*/




/* apparence produit page accueil*/
#texteOp{
	height: 100%;
	float:left;
	width: 60%;
	text-align: center;
	color: white;
	font-family: Georgia;
	vertical-align: middle;
}
#texteOp h4{
	height: 20%;
	text-align: center;
	color: white;
	font-family: Georgia;
	font-size: 180%;	
}
#texteOp p{
	margin-left: 10%;
	text-align: justify;
	height: 30%;
	color: white;
	font-family: Georgia;
	font-size: 120%;
}
#decouvrir{
	height: 40%;
	width: 15%;
	text-decoration: none;
	color:white;
	border-radius: 20%;
	padding: 10px;
	font-weight: bold;
	background-color: orange;
}
#productImage{
	height: 100%;
 	width: 40%;
}
#productImage img{
	width: 38em;
	margin-top:5%;
	}
#opening{
		padding: 1%;
		height: 90;
		width: 100%;
        font-size: 120%; 
        font-family: Georgia;          
        margin: 0;          
        background-color: #64a4ed; 
        color:white; 
        padding-bottom: 15px;
}

