#logo {
    width: 5em;
}
#logoAppli {
    width: 2.5em;
}
#footer{

	height: auto;
	width: 100%;
}

#footer li{
	display: inline-block;
	width: 10%;
	vertical-align: middle;
	margin: 0;

}
#footer li a{
	text-decoration: none;
	color:white;
	font-weight: bold;

}
#footer ul{
	height: 15%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 0;
	overflow: hidden;
	background-color:  	#787878;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

html{
	overflow-x: hidden;
	background-color: black;
	margin: 0;
	padding:0;
	
}
body{
	min-height: 400px;
	min-width:600px;
	margin: 0;
	padding: 0;
	background-color: white;
}

#entete ul{
	height: 15%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #64a4ed;
	width: 100%;
	text-align: center;
	vertical-align: middle;


}
#entete li{
	display: inline-block;
	width: 11%;
	vertical-align: middle;
	margin: 0;

}
#entete li a{
	
	text-decoration: none;
	color:white;

}
#entete{

	height: 100vh;
	width: 100vw;
}
#opening{
		padding: 1%;
		height: 84%;
		width: 100%;
        font-size: 20px; 
        font-family: Georgia;          
        margin: 0;          
        background-color: #64a4ed; 
        color:white; 
        padding-bottom: 15px;
}
#texteOp{

	height: 100%;
	float:left;
	width: 60%;
	text-align: center;
	color: white;
	font-family: Georgia;
	vertical-align: middle;
}
#texteOp h4{
	height: 20%;
	text-align: center;
	color: white;
	font-family: Georgia;
	font-size: 36px;	
}
#texteOp p{
	margin-left: 10%;
	text-align: justify;
	height: 30%;
	color: white;
	font-family: Georgia;
	font-size: 27px;
	
}


#login{
	border-radius: 20%;
	border-color: transparent;
	border-style:solid;
	background-color: orange;
	border-width: 10px;
	font-weight: bold;
}
#productImage{


	height: 100%;
 	width: 40%;

	
}
#productImage img{
	width: 38em;
	margin-top:5%;
	

}

}
p{
	padding: 5px;
}
#decouvrir{
	
	height: 40%;
	width: 15%;
	text-decoration: none;
	color:white;
	border-radius: 20%;
	padding: 10px;
	font-weight: bold;
	background-color: orange;

}