<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>IOTnov</title>
  <link rel="stylesheet" href="style.css">
  <!--<script src="script.js"></script>-->
</head>
<header>
	<ul>
		<li><a href="main.html"><img id="logo" src="im.gif"></a></li>
		<li><a href ="main.html">Accueil</a></li>
		<li><a href ="Professionnel.html">Professionnels</a></li>
		<li><a href ="Produits.html">Produit</a></li>
		<li><a href ="#">Patients</a></li>
		<li><a href ="faq.html">FAQ</a></li>
		<li><a href ="PageErreur.html">Recherche</a></li> <!-- Recherche a modifier pour integrer une animation : #javascript ou autre-->
		<li><a id="login" href="Connexion.html">Se&nbsp;connecter</a></li>
	</ul>
</header>


<body>
	
		<div class="opening">
			<div class="texteMain">
				<h4>
					Un condensé de design et de technologie
				</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet magna at orci sollicitudin, rutrum aliquam est auctor. Sed hendrerit, nulla eu ultricies molestie, mi ante tincidunt velit, in sodales nunc justo a massa. Duis ac tortor in erat dictum convallis. Duis ipsum lacus, gravida eu rhoncus nec, efficitur porttitor dui. Cras eleifend vitae neque quis suscipit.</p>
				<br>
				<br>
				<a id="decouvrir" href ="Professionnel.html">Découvrir</a>
			</div>
			<div class="productImage">
				<a><img src="product.png"></a>
			</div>
		</div>
		<div class="capteuratorMain">
			<h1>
				Le capteurator
			</h1>
			<p>
				Appareil connecté de mesures psychotechniques
			</p>
			<a href ="faq.html#"><img src="capteur.jpeg"></a>
		</div>
		<div class="blueBox">
			<br>
			<p>La <b>santé</b> à porter de main</p>
			<div class="santeBox">
				
					<button class="btn">Accèder à mes résultats</button>
				
			</div>
			<br>

		</div>
</body>
<footer>
	<div id="footer">
		<ul>
			<li><a href ="#">INFINITE MEASURES</a></li>
			<li><a href="https://www.instagram.com/infinite_measures_society/"><img id="logoAppli" src="logoInsta.png"></a></li>
			<li><a href="https://twitter.com/InfiniteMeasur2"><img id="logoAppli" src="logoTwitter.png"></a></li>
			<li><a href="https://www.linkedin.com/in/infinite-measures-8454771a5/"><img id="logoAppli" src="logoLinked.png"></a></li>
			<li><a href="https://www.facebook.com/Infinite-Measures-107016680954018/"><img id="logoAppli" src="logoFacebook.png"></a></li>
			<li><a href ="#">SAV</a></li>
			<li><a href ="CGU.html">CGU</a></li>
			<li><a href ="#">Nous Contacter</a></li>
			<li><a href="#"><img id="logo" src="logoStartup.png"></a></li> <!-- Recherche a modifier pour integrer une animation : #javascript ou autre-->
		</ul>
		<p>
			Designed and developped by IOTnov
		</p>
	</div>
</footer>
</html>