<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Page d'erreure</title>
    <link rel="stylesheet" href="style.css">
    <!--<script src="script.js"></script>-->
  </head>
  <body>
    <div id="erreure" class="erreure"> <br>
      <div id="erreure"> <img src="im.gif" class="erreure_image" style="width: 185px; height: 170px;">
      </div>
      <div id="erreure"> <font size="+4"> <b>ERREUR</b> </font></div>
      <br>
      <div id="erreure"> La page que vous demandez est introuvable. </div>
      <br>
      <div><a classe="erreure_bouton" id="erreure_bouton" href ="main.php".html> <b>Revenir à l'Accueil</b></a></div>
      <br>
    </div>
  </body>
</html>
